# Welcome to serverless. Read the docs
# https://serverless.com/framework/docs/

# Serverless.yml is the configuration the CLI
# uses to deploy your code to your provider of choice

# The `service` block is the name of the service
service: untappd-slack

# The `provider` block defines where your service will be deployed
provider:
  name: aws
  runtime: nodejs6.10

  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
      Resource:
        - { "Fn::GetAtt": ["UsersDynamoDBTable", "Arn" ] }
  environment:
    USERS_TABLE: { "Ref": "UsersDynamoDBTable" }
    SLACK_TOKEN: ${env:SLACK_TOKEN}
    SLACK_CONVERSATION_ID: ${env:SLACK_CONVERSATION_ID}
    UNTAPPD_CLIENTID: ${env:UNTAPPD_CLIENTID}
    UNTAPPD_SECRET: ${env:UNTAPPD_SECRET}

# The `functions` block defines what code to deploy
functions:
  pollForBeers:
    handler: handler.pollForBeers
    events:
      - schedule: rate(15 minutes)

resources:
  Resources:
    UsersDynamoDBTable:
      Type: 'AWS::DynamoDB::Table'
      Properties:
        AttributeDefinitions:
          -
            AttributeName: name
            AttributeType: S
        KeySchema:
          -
            AttributeName: name
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
